@import url('reset.css');
@import url(http://fonts.googleapis.com/css?family=Nunito|Carrois+Gothic);

body {
    color: black;
    font-size: 15px;
    margin: 0;
    font-family: 'Carrois Gothic', sans-serif;
    line-height: 150%;
}

p {
    padding: 0 0 1.33em 0;
}

/* [ headings ] */

h1 {
    font-size: 1.44em;
    font-weight: bold;
    padding: 0 0 1.33em 0;
    color: #55BB55;
}

h2 {
    font-size: 1.22em;
    font-weight: bold;
    padding: 0 0 1.33em 0;
    color: #55BB55;
}

.wrapper {
    width: 84%;
    margin: 0 8% 0 8%;
}

/********* [ Header ] **********/

.top {
    background-color: #55BB55;
    color: white;
    margin: 0;
    font-size: 2.44em;
    font-family: 'Nunito', sans-serif;
    padding: 1.33em 1.33em 0.44em 1.33em;
}

.top h1 {
    font-size: 1em;
    color: white;
    padding: 0 0 1em 0;
}

.top #nav ul{
    color: white;
    float: right;
    list-style-type: none;
    font-size: 0.45em;
    padding-top: 2.33em;
}

.top #nav li {
    float: left;
    margin: 0 0 0 10px;
    padding: 0.4em;
}

.top #nav li a {
    color: white;
    text-decoration: none;
    padding: 0.4em;
}

.top #nav li a:hover {
    color: #55BB55;
    background-color: white;
}

.fix {
    clear: both;
}

/************** [ content ] ****************/

.middle {
    font-size: 1.1em;
    padding: 2.33em;
    border-left: 1px solid #55BB55;
    border-right: 1px solid #55BB55;
}

/* [ table style ] */

table {
    width: 90%;
    margin: 0 5%;
}

td {
    text-align: center;
    font-weight: normal;
    padding: 0.33em;
}

th {
    color: white;
    background-color: #55BB55;
    padding: 0.33em;
}

/************** [ footer ] ****************/

.bottom {
    color: white;
    background-color: #55BB55;;
    text-align: center;
    font-size: 0.9em;
}
